# Solana RPC URLs for demo app
VITE_SOLANA_RPC_URL=https://api.devnet.solana.com
VITE_SOLANA_RPC_URL_MAINNET=https://api.mainnet-beta.solana.com

# For production, replace with your own RPC endpoints:
# VITE_SOLANA_RPC_URL=https://your-custom-solana-rpc-endpoint.com
# VITE_SOLANA_RPC_URL_MAINNET=https://your-mainnet-rpc-endpoint.com

VITE_WALLET_API=https://api.phantom.app/v1/wallets
VITE_ORGANIZATION_ID=xxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx