name: PR Checks

on:
  pull_request:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  linear-check:
    name: Linear Issue Check
    runs-on: ubuntu-latest
    permissions: read-all
    # Skip Linear check for Version Packages PRs created by changesets
    if: ${{ !startsWith(github.event.pull_request.title, 'Version Packages') }}
    steps:
      - name: Linear Issue Check
        uses: phantom/linear-pr-check@f2a85fcbc7af8c2909f1869ccad4f8d66a5c98fa # 1.0.6 # 1.0.6
        with:
          prefixes: "BEPLAT,CASH,CHAINS,DATA,DES,DEVRE,FEPLAT,IDPLAT,IM,INF,LEG,ON,PD,PHA,QA,SEC,SOC,TRADE,TRA,WEB,DX,WP,COR,TPLAT,ADV,PERP,SDLC,AID,GROW"
          exceptionTitlePrefixes: "chore,docs,style"

  title-check:
    name: Conventional Title Check
    runs-on: ubuntu-latest
    permissions: read-all
    # Skip conventional title check for Version Packages PRs created by changesets
    if: ${{ !startsWith(github.event.pull_request.title, 'Version Packages') }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: amannn/action-semantic-pull-request@c3cd5d1ea3580753008872425915e343e351ab54 # v5.2.0 # v5.2.0

  pr-checks:
    name: PR Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install --immutable
      
      - name: Build
        run: yarn build

      - name: Run Lint
        run: yarn lint

      - name: Run Prettier
        run: yarn exec prettier . --check

      - name: Check Types
        run: yarn check-types

      - name: Run Tests
        run: yarn test
        env:
          ORGANIZATION_PRIVATE_KEY: ${{ secrets.ORGANIZATION_PRIVATE_KEY }}
          ORGANIZATION_ID: ${{ secrets.ORGANIZATION_ID }}
          APP_ID: ${{ secrets.APP_ID }}
          WALLET_API: ${{ secrets.WALLET_API }}
          SOLANA_RPC_URL: ${{ secrets.SOLANA_RPC_URL }} 